JMuCore/web/WEB-INF/wsdl/localhost_8080/ServicioWebV1/servicioWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.online.mu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.online.mu/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="estadisticas" type="tns:estadisticas"/>

<xs:element name="estadisticasResponse" type="tns:estadisticasResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="loginUser" type="tns:loginUser"/>

<xs:element name="loginUserResponse" type="tns:loginUserResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadisticas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="estadisticasResponse">
<xs:sequence>
<xs:element name="return" type="tns:statistics" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="statistics">
<xs:sequence>
<xs:element name="charOnline" type="xs:int"/>
<xs:element name="drop" type="xs:int"/>
<xs:element name="exp" type="xs:int"/>
<xs:element name="online" type="tns:state" minOccurs="0"/>
<xs:element name="totalAcc" type="xs:int"/>
<xs:element name="totalGuild" type="xs:int"/>
<xs:element name="totalUser" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUser">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:login" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="state">
<xs:restriction base="xs:string">
<xs:enumeration value="ONLINE"/>
<xs:enumeration value="OFFLINE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>