JMuCore/src/conf/xml-resources/web-service-references/servicioWeb/wsdl/localhost_8080/ServicioWebV1/servicioWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.online.mu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.online.mu/" name="servicioWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://service.online.mu/" schemaLocation="http://localhost:8080/ServicioWebV1/servicioWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="estadisticas">
<part name="parameters" element="tns:estadisticas"/>
</message>
<message name="estadisticasResponse">
<part name="parameters" element="tns:estadisticasResponse"/>
</message>
<portType name="servicioWeb">
<operation name="hello">
<input wsam:Action="http://service.online.mu/servicioWeb/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.online.mu/servicioWeb/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://service.online.mu/servicioWeb/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://service.online.mu/servicioWeb/loginUserResponse" message="tns:loginUserResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.online.mu/servicioWeb/loginUser/Fault/Exception"/>
</operation>
<operation name="estadisticas">
<input wsam:Action="http://service.online.mu/servicioWeb/estadisticasRequest" message="tns:estadisticas"/>
<output wsam:Action="http://service.online.mu/servicioWeb/estadisticasResponse" message="tns:estadisticasResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.online.mu/servicioWeb/estadisticas/Fault/Exception"/>
</operation>
</portType>
<binding name="servicioWebPortBinding" type="tns:servicioWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="estadisticas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="servicioWeb">
<port name="servicioWebPort" binding="tns:servicioWebPortBinding">
<soap:address location="http://localhost:8080/ServicioWebV1/servicioWeb"/>
</port>
</service>
</definitions>